# Flask Configuration
FLASK_ENV=development
SECRET_KEY=-change-in-production

# Database Configuration
# For SQLite (development):
DATABASE_URL=sqlite:///fpl_analytics.db

# For PostgreSQL (production: use this later):
# DATABASE_URL=postgresql://postgres:password@localhost/fpl_analytics

# OpenAI API (for AI assistant - will add later)
OPENAI_API_KEY= openai-key-here
a
# API Football
API_FOOTBALL_KEY= 10df7546c645935809cc18e825ed2c37